<div id="app">
  <div class="side-nav">
    <div class="side-nav-main">
      <div class="side-nav-header">
        <div class="side-nav-header-img">
          <img src="./assets/imgs/Ellipse 49.svg" alt="" />
        </div>
        <div class="side-nav-header-heading">Vendor Manager</div>
      </div>
      <div class="side-nav-item">
        <div class="side-nav-item-img">
          <img src="./assets/imgs/home.svg" alt="" />
        </div>
        <div class="side-nav-item-txt">Dashboard</div>
      </div>
      <div class="side-nav-item active">
        <div class="side-nav-item-img">
          <img src="./assets/imgs/Framelisting.svg" alt="" />
        </div>
        <div class="side-nav-item-txt">Listing</div>
      </div>
      <div class="side-nav-item">
        <div class="side-nav-item-img">
          <img src="./assets/imgs/shopping_cart_black_24dp 1.svg" alt="" />
        </div>
        <div class="side-nav-item-txt">Order Management</div>
      </div>
      <div class="side-nav-item">
        <div class="side-nav-item-img">
          <img src="./assets/imgs/payments_black_24dp 1.svg" alt="" />
        </div>
        <div class="side-nav-item-txt">Payment Management</div>
      </div>
      <div class="side-nav-item">
        <div class="side-nav-item-img">
          <img src="./assets/imgs/account_circle_black_24dp 1.svg" alt="" />
        </div>
        <div class="side-nav-item-txt">Profile Management</div>
      </div>
      <div class="side-nav-item">
        <div class="side-nav-item-img">
          <img src="./assets/imgs/groups_black_24dp 1.svg" alt="" />
        </div>
        <div class="side-nav-item-txt">Followers Manage</div>
      </div>
      <div class="side-nav-item">
        <div class="side-nav-item-img">
          <img src="./assets/imgs/question_answer_black_24dp 1.svg" alt="" />
        </div>
        <div class="side-nav-item-txt">Message</div>
      </div>
    </div>
    <div class="side-nav-footer">
      <div class="side-nav-footer-img">
        <img src="./assets/imgs/kakashi-hatake-ilustracion-3631.jpg" alt="" />
      </div>
      <div class="side-nav-footer-txt">
        <p>John Smith</p>
        <p>johnsmith@gmail.com</p>
      </div>
      <div class="side-nav-footer-logoutBtn">
        <img src="./assets/imgs/logout 2.svg" alt="" />
      </div>
    </div>
  </div>
  <div class="main">
    <div class="main-header">
      <div class="main-header-img">
        <img src="./assets/imgs/left-arrow.svg" alt="" />
      </div>
      <div class="main-header-txt">
        Jute Shopping Bags Hessian - Fruits & Flower Design Good Size Bag
        Gift / Lunch
      </div>
    </div>
    <div class="main-body">
      <div class="main-photos">
        <div class="main-photos-header">
          <div class="d-flex ">
            <div>Photos</div>
            <ng-template #toolPhotos>
              Use up to ten photos to show your item's most important qualities. <br>
              <div class="mt-1">
                Tips:<br>
              </div>
              <ul>
                <li>
                  Use natural light and no flash.
                </li>
                <li>
                  Include a common object for scale.
                </li>
                <li>
                  Show the item being held, worn, or used.
                </li>
                <li>
                  Shoot against a clean, simple background.
                </li>
              </ul>
            </ng-template>
            <div class="ques-tooltip ms-1" [tooltip]="toolPhotos" placement="bottom"><img
                src="./assets/imgs//question-mark.svg" alt="" /></div>
          </div>
          <div>Add as many as you can so buyers can see every detail.</div>
        </div>
        <div class="main-cards">
          <div class="add-new-card">
            <div class="add-new-card-img">
              <img src="./assets/imgs/add-photo.svg" alt="" />
            </div>
            <div class="add-new-card-txt">Add a photo</div>
          </div>
          <div class="preview-card">
            <div class="preview-card-img">
              <img src="./assets/imgs/image 66.svg" alt="" />
            </div>
            <div class="preview-card-txt">Primary Photo</div>
          </div>
          <div class="preview-card">
            <div class="preview-card-img">
              <img src="./assets/imgs/image 67.svg" alt="" />
            </div>
            <div class="preview-card-txt">Every angle</div>
          </div>
          <div class="preview-card">
            <div class="preview-card-img">
              <img src="./assets/imgs/image 68.svg" alt="" />
            </div>
            <div class="preview-card-txt">Every angle</div>
          </div>
          <div class="preview-card">
            <div class="preview-card-img">
              <img src="./assets/imgs/image 69.svg" alt="" />
            </div>
            <div class="preview-card-txt">Every angle</div>
          </div>
          <div class="preview-card">
            <div class="preview-card-img">
              <img src="./assets/imgs/image 69.svg" alt="" />
            </div>
            <div class="preview-card-txt">Details</div>
          </div>
          <div class="preview-card">
            <div class="preview-card-img">
              <img src="./assets/imgs/image 70.svg" alt="" />
            </div>
            <div class="preview-card-txt">In use</div>
          </div>
          <div class="preview-card">
            <div class="preview-card-img">
              <img src="./assets/imgs/image 71.svg" alt="" />
            </div>
            <div class="preview-card-txt">Size & Scale</div>
          </div>
          <div class="preview-card">
            <div class="preview-card-img">
              <img src="./assets/imgs/image 72.svg" alt="" />
            </div>
            <div class="preview-card-txt">Styled scene</div>
          </div>
          <div class="preview-card">
            <div class="preview-card-img">
              <img src="./assets/imgs/image 73.svg" alt="" />
            </div>
            <div class="preview-card-txt">Variations</div>
          </div>
        </div>
      </div>
      <div class="main-listing-details">
        <div class="main-listing-details-header">
          <p>Listing Details</p>
          <p>Tell the world all about your item and why they’ll love it.</p>
        </div>
        <div class="main-listing-details-form">
          <form>
            <div class="row mb-3">
              <label for="title" class="col-sm-2 col-form-label required">
                <span> Title </span>
                <ng-template #toolTitle>
                  Include keywords that buyers would use to search for your item.
                </ng-template>
                <span [tooltip]="toolTitle" placement=bottom>
                  <img src="./assets/imgs//question-mark.svg" alt="" />
                </span>
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control py-3 px-4" id="title" placeholder="GSTIN number" />
              </div>
            </div>
            <div class="row mb-3">
              <label for="description" class="col-sm-2 col-form-label required">
                <span> Description </span>
                <ng-template #toolDesc>
                  <p>
                    Start with a brief overview that describes your item’s finest features. Shoppers will only see the
                    first few lines of your description at first, so make it count!
                  </p>
                  <p class="pt-2">
                    Not sure what else to say? Shoppers also like hearing about your process, and the story behind this
                    item.
                  </p>
                </ng-template>
                <span [tooltip]="toolDesc" placement=bottom>
                  <img src="./assets/imgs//question-mark.svg" alt="" />
                </span>
              </label>
              <div class="col-sm-10">
                <textarea id="description" class="form-control py-3 px-4" rows="8"
                  placeholder="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."></textarea>
              </div>
            </div>
            <div class="row mb-3">
              <label for="category" class="col-sm-2 col-form-label required">
                <span> Category </span>
                <ng-template #toolCategory>
                  <p>
                    Type a two- or three-word description of your item to get category suggestions that will help more
                    shoppers find it.
                  </p>
                </ng-template>
                <span [tooltip]="toolCategory" placement=bottom>
                  <img src="./assets/imgs//question-mark.svg" alt="" />
                </span>
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control py-3 px-4" id="category" placeholder="Lunch Bags & Boxes" />
              </div>
            </div>
            <div class="row mb-3">
              <label for="price" class="col-sm-2 col-form-label required">
                <span> Price </span>
                <ng-template #toolPrice>
                  <p>
                    Remember to factor in the costs of materials, labour, and other business expenses. If you offer free
                    delivery, make sure to include the cost of postage so it doesn't eat into your profits.
                  </p>
                </ng-template>
                <span [tooltip]="toolPrice" placement=bottom>
                  <img src="./assets/imgs//question-mark.svg" alt="" />
                </span>
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control py-3 px-4" id="price" placeholder="125.00" />
              </div>
            </div>
            <div class="row mb-3">
              <label for="quantity" class="col-sm-2 col-form-label required">
                <span> Quantity </span>
                <ng-template #toolQuantity>
                  <p>
                    For quantities greater than one, this listing will renew automatically until it sells out.
                  </p>
                </ng-template>
                <span [tooltip]="toolQuantity" placement=bottom>
                  <img src="./assets/imgs//question-mark.svg" alt="" />
                </span>
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control py-3 px-4" id="quantity" placeholder="5" />
              </div>
            </div>
            <div class="row mb-3">
              <label for="sku" class="col-sm-2 col-form-label">
                SKU
                <ng-template #toolSku>
                  <p>
                    SKUs are for your use only — buyers won’t see them. Learn more about SKU.
                  </p>
                </ng-template>
                <span [tooltip]="toolSku" placement=bottom>
                  <img src="./assets/imgs//question-mark.svg" alt="" />
                </span>
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control py-3 px-4" id="sku" placeholder="H125" />
              </div>
            </div>
            <fieldset class="row mb-3">
              <legend class="col-form-label col-sm-2 pt-0">
                Product Privacy
                <ng-template #toolPP>
                  <p>
                    Public will show your product to reseller who is not following you.
                  </p>
                  <p>
                    private will only show your product who is following you.
                  </p>
                </ng-template>
                <span [tooltip]="toolPP" placement=bottom>
                  <img src="./assets/imgs//question-mark.svg" alt="" />
                </span>
              </legend>
              <div class="col-sm-10">
                <input class="form-check-input mr-3" type="radio" name="productPrivacy" id="puublic" value="public"
                  checked />
                <label class="form-check-label" for="puublic">
                  Public
                </label>
                <input class="form-check-input mr-3" type="radio" name="productPrivacy" id="private" value="private" />
                <label class="form-check-label" for="private">
                  Private
                </label>
              </div>
            </fieldset>
            <fieldset class="row mb-3">
              <legend class="col-form-label col-sm-2 pt-0">
                Variations
                <ng-template #toolVariations>
                  <p>
                    Product variations details for simple product and variant product. </p>
                </ng-template>
                <span [tooltip]="toolVariations" placement=bottom>
                  <img src="./assets/imgs//question-mark.svg" alt="" />
                </span>
              </legend>
              <div class="col-sm-10">
                <input class="form-check-input" type="radio" name="variation" id="simple" value="simple" checked />
                <label class="form-check-label" for="simple">
                  Simple
                </label>
                <input class="form-check-input" type="radio" name="variation" id="variation" value="private" />
                <label class="form-check-label" for="variation">
                  Variation
                </label>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="main-footer">
        <div>
          <button type="button" class="btn btn-cancel">Cancel</button>
        </div>
        <div>
          Jute Shopping Bags Hessian - Fruits & Flower Design Good Size Bag
          Gift / Lunch
        </div>
        <div>
          <button type="button" class="btn btn-save">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>